@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}

body{
    width: 100vw;
    min-height: 100vh;
    background: no-repeat;
    background-image: url("../assets/background_login\ \(1\).png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
 }
 
.background_transparent{
    width: 100%;
    min-height: 100vh;
    background-color: #262523f6;
    background-attachment: fixed;
}

.message{
    position: sticky;
    top:0; left:0; right:0;
    padding:15px 10px;
    background-color: var(--white);
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    color:var(--black);
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
 }
 
.btn,
.delete-btn,
.option-btn{
    display: inline-block;
    padding:10px 30px;
    cursor: pointer;
    font-size: 18px;
    color:black;
    border-radius: 5px;
    text-transform: capitalize;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
    background-color: aqua;
}

.btn{
    background-color: white;
    margin-top: 10px;
}

.delete-btn{
    background-color: var(--red);
}

.option-btn{
    background-color: var(--orange);
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 70px;
 }
 
 .form-container form{
    width: 500px;
    border-radius: 5px;
    border:var(--border);
    padding:20px;
    text-align: center;
    background-color: rgba(0,0,0,.75);
 }
 
 .form-container form h1{
    color:white;
 }

 .form-container form h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:white;
 }
 
 .form-container form .box{
    width: 100%;
    border-radius: 5px;
    border:var(--border);
    padding:12px 14px;
    font-size: 18px;
    margin:10px 0;
 }
 
 .form-container form p{
    margin-top: 20px;
    font-size: 20px;
    color:white;
 }
 
 .form-container form p a{
    color:var(--red);
 }
 
 .form-container form p a:hover{
    text-decoration: underline;
 }



.footer{
    background-color: rgba(0,0,0,.75);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    color: white;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer__contents{
    font-size: 15px;
}

